{% extends "base.html" %}
{% block style %}
    body { 
      font-family: sans-serif;
        background: #f8f8f8;
        background-image: url("{{ url_for('static', filename='images/bck.jpg') }} ");
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;     
      
      
      }

    .post { 
      background: white;
      padding: 15px; margin-bottom: 20px; 
      border-radius: 8px; 
      box-shadow: 0 0 5px #ccc; 
      margin-left: 20px;
      width: 97%
    }
    @media only screen and (max-width: 767px) {
      .post {
      width: 90%
      }
    }


    .post-title { margin: 0; color: #333; }
    .post-meta { font-size: 0.9em; color: green; }


    .fab {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-color: #4a77d4;
      border-radius: 50%;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 999;
      transition: background-color 0.3s;
      text-decoration: none;
    }
    
    .fab:hover {
      background-color: #2c6ad0;
    }
    
    .fab svg {
      display: block;
    } 
{% endblock style %}

{% block title %}Posts{% endblock title %}

{% block content %}
  <h2 style="margin: 20px; color: white">Recent Posts</h2>
  
  {% for post in posts %}
    <div class="post">
      <h2 class="post-title">{{ post[2] }}</h2>
      <p class="post-meta"> author : {{ post[1] }} | Post id : {{ post[0] }} </p>
      <div class="post-content">
        <p>{{ post[3] }}</p>
      </div>
    </div>
  {% endfor %}




  <a href="/posts/add-post" class="fab" aria-label="Add Post">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
      <path d="M12 5V19" stroke="white" stroke-width="2" stroke-linecap="round"/>
      <path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </a>
  



{% endblock content %}

