<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
</head>
<style>{% block style %}{% endblock style %}</style>
<body>
    {% block content %}
    {% endblock content %}
</body>
<script>
{% block scripts %}{% endblock scripts %}
</script>
</html>