<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="signin">SignIn</a>
    <a class="nav-item nav-link" href="signup">SignUp</a>
    <a class="nav-item nav-link" href="messenger">Messenger</a>
    <a class="nav-item nav-link" href="posts">Posts</a>
    <a class="nav-item nav-link" href="profile">Profile</a>
  </div>
</nav>

<style>
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: row !important;
  }
  .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
</style>